[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "==1.3.23"
flask-sqlalchemy = "==2.4.4"
flask-migrate = "==2.6.0"
flask-swagger = "==0.2.14"
psycopg2-binary = "==2.8.6"
python-dotenv = "==0.15.0"
flask-cors = "==3.0.10"
gunicorn = "==20.0.4"
cloudinary = "==1.24.0"
flask-admin = "==1.5.7"
typing-extensions = "*"
Flask-JWT-Extended = "*"
alembic = "==1.5.4"
certifi = "==2020.12.5"
click = "==7.1.2"
itsdangerous = "==1.1.0"
jinja2 = "==2.11.3"
mako = "==1.1.4"
markupsafe = "==1.1.1"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
pyyaml = "==5.4.1"
six = "==1.15.0"
urllib3 = "==1.26.3"
werkzeug = "==1.0.1"
wtforms = "==2.3.3"

[requires]
python_version = "3.10"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
local="heroku local"
upgrade="flask db upgrade"
downgrade="flask db downgrade"
insert-test-data="flask insert-test-data"
reset_db="bash ./docs/assets/reset_migrations.bash"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
