.bg-custom-red {
    background: #eb1652 !important;
  }
  
  .bg-custom-white {
    background: #ffffff !important;
  }
  
  .card.toggle-button {
    position: relative;
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    z-index: 1;
    transition: color 0.3s ease;
  }
  
  .option:hover {
    color: #20e3a3;
  }
  
  #quests.active,
  #rewards.active {
    color: #fff;
  }
  
  #quests:hover,
  #rewards:hover {
    color: #fff;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #20e3a3;
    border-radius: 20px;
    transition: left 0.3s ease;
    z-index: 0;
  }
  
  #quests:hover ~ .slider,
  #quests:focus ~ .slider {
    left: 0;
  }
  
  #rewards:hover ~ .slider,
  #rewards:focus ~ .slider {
    left: 50%;
  }
  