body {
    font-family: Montserrat;
}

/* pages with the navbar */
.dashboard {margin-top: 100px}

/* colors */
.bg-green {background: #10E0B8}
.bg-yellow {background: #FFC444}
.bg-red {background: #EB1652}
.bg-purple {background: #9111F2}
.bg-black {background: #252424; color: #ffffff; box-shadow: none !important;}
.bg-white {background: #ffffff}

.txt-green {color: #10E0B8}
.txt-yellow {color: #FFC444}
.txt-red {color: #EB1652}
.txt-purple {color: #9111F2}

.bg-active {
    background: #10E0B8;
    border-radius: 100px !important;
}

.bg-experience {
    background: #10E0B8;
    border-radius: 100px !important;
}

.bg-energy {
    background: #FFC444;
    border-radius: 100px !important;
}

/* cards borders and shadows */
.card {
    border: 3px solid #252424;
    border-radius: 10px;
    box-shadow: 4px 4px #252424;
    text-align: center;

    &.circle {
        padding: 14px !important;
        border-radius: 100% !important;
    }

    &.round {
        border-radius: 100px !important;
    }
}

/* text */
h1, h2, h3, h4, h5, h6, .bold {font-weight: 800}

i {scale: 140%; width: 17px; height: 17px;}

.sizeDown {scale: 100% !important}

a {text-decoration: none}

/* form inputs */
input {
    border: none;
    background: none;
}

.card-header {
    border-bottom: 3px solid #252424;
}

/* encounter button animation */
.encounter {
    animation: on 1s;
    -webkit-animation: on 1s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@keyframes on  {
    0%   {background-color:#5c0b9b;}
    50%  {background-color:#9111F2;}
    100% {background-color:#5c0b9b;}
}

@-webkit-keyframes on {
    0%   {background-color:#5c0b9b;}
    50%  {background-color:#9111F2;}
    100% {background-color:#5c0b9b;}
}

.container-1{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://miro.medium.com/v2/resize:fit:1199/1*AtkkTkSLk6Jd0nwVqifzeQ.jpeg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 }

 .homeImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
 }

 