.bg-custom-purple {
    background: #9111F2 !important;

.bg-custom-yellow {
    background-color: #FFC444 !important;
  }

  
  }

/* .mainCard{

        padding-top: 80px;
        height: 80vh;
        width: 45vh;
        margin-top: 50px;
} */

.cardLabel {

}