.bg-custom-purple {
    background: #9111F2 !important;

.bg-custom-yellow {
    background-color: #FFC444 !important;
  }

  
}

.mainCard {

width: 50vh;

}

.mainCard:hover {
  color: black !important;
  background-color: white !important;
}


.difSelector {
  display: flex;
  gap: 10px;
}

.btnDif:hover{
  background-color:  black;
  color: white; 
  
}

.btnDif:active {

    background-color:  black;
    color: white; 
   
} 


.btn-content {
  display: flex;
  align-items: center;
  gap: 8px; 
}


.cardLabel{
  margin: 0;

}

.cardLabel:hover {
  color: black;
  
  margin: 0;
  
}

.inpuTasker{
  overflow: hidden;
}

