
.user-panel{
    max-width: 400px;
    height: 100vh;
    background: #eb1652 !important;
    border-right: 3px solid black;
}

.icone{
    display: flex;
    justify-content: end;
    margin-right: 80px;
    padding-top: 20px;
    
    
}

.img{
    height: 150px;
}

.card-userName{
    margin: 30px;  
    margin-bottom: 10px;
    height: 45px;
}

.lvl-role{

 display: flex;
 justify-content: space-around;
 height: 40px;

}

.card-lvl{
    margin: 5px, 10px, 30px, 0px;
    width: 140px;
}
.card-role{
    
    width: 140px;
}

.card-user-power {

    height: 60px;
    margin: 30px;  
    margin-bottom: 15px;
}

.beast-board{

    display: flex;
   
} 

.card-bestiary {

    margin: 30px 0px 30px 30px;
    height: 90px;
    width: 60vh;

}


.card-beast{

    width:  25vh;
    height: 40px;
    margin: 30px;
    margin-bottom: 0px;
}

.card-something-else{

    height: 40px;
    margin: 30px;
   margin-top: 10px;

}


.card-edit{
    
    margin: 30px;
    height: 40px;
    margin-top: 20px;
    background-color:  #FFC444;
}

.user-panel {
    font-weight: 800;
}